<!DOCTYPE html>
<html>
<head>
	<title>SEARCH</title>
</head>
<body>
	<form method="POST" class="form" action='/search'>
		<h1>SEARCH</h1>
		<input type="text" name="search" class="search">
		<input type="submit" value = "submit" name= "submit" class="submit">
	</form>
	<p class="output" name="output"></p>
	<script src="./../search.js"></script>
</body>
</html>