
<!DOCTYPE html>
<html>
<head>
	<title>SEARCH</title>
</head>
<body>
	<form method="POST" class="form" action='/search'>
		<h1>SEARCH</h1>
		<input type="text" name="search" class="search">
		<input type="submit" value = "submit" name= "submit" class="submit">
	</form>
	<% if (results) { %>
		<ul>
		    <% for(var i=0; i < results.length; i++) { %>
		        <li"><%=results[i].id + " | " + results[i].login + " | " + results[i].password + " | " + results[i].role%></li>
		    <% } %>
		</ul>
	<% } else { %>
	    <p>No results found, change search params</p>
	<% } %>
	<script src="./../search.js"></script>
</body>
</html>